.nav {
    display: flex;
    justify-content: space-between;
    padding: 17px 0 15px 0;
}

.nav__logo {
    width: 58px;
    height: 40px;
    background-image: url("../icons/logo.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.nav__list {
    display: flex;
    margin: 0;
}

.nav__item {
    position: relative;
    cursor: pointer;
}

.nav__item:not(:last-child) {
    margin-right: 20px;
}

.nav__item:hover {
    color: #707070;
}

.nav__link {

}

.nav__list--dropdown {
    width: 230px;
    position: absolute;
    padding: 10px;
    background-color: #ffffff;
    left: 0;
    top: 100%;
    box-shadow: 0 5px 15px 0 rgba(0,0,0, 0.2);
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    color: black;
}

.dropdown-list__item {
    margin: 10px;
}

.nav__about {
    display: flex;
}
.nav__about-wrap {
    display: flex;
    margin-right: 20px;
    cursor: pointer;
}

.nav__about-wrap:hover {
    color: #707070;
}

.nav__pin {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("../icons/pin.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav__about-brand {
    cursor: pointer;
}

.nav__about-brand:hover {
    color: #707070;
}

.burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: relative;
    display: none;
}

.burger::before,
.burger::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.burger::after {
    top: auto;
    bottom: 0;
}

.burger span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    display: inline-block;
    background-color: #000;
}

.search {
    display: none;
}

@media (min-width: 980px) {
    .nav__item:hover .nav__list--dropdown {
        visibility: visible;
        opacity: 1;
        transition: all 0.3s;
    }
}

@media (max-width: 980px) {
    .burger {
        display: block;
    }
    .nav__logo {
        margin: 0 auto;
    }
    .nav__list {
        display: none;
    }
    .nav__about {
        display: none;
    }
    .search {
        display: block;
    }
}